<div class="container my-3 p-3 border border-round">
  <div class="form-group">
    <label for="numeroInput">Escolha um número</label>
    <input [(ngModel)]="numero" type="number" class="form-control" id="numeroInput" placeholder="Escolha um número" #numeroInput>

    <div class="alert alert-primary mt-3 p-3 text-center">
      {{numero}}
    </div>

    <div class="d-grid gap-2">
      <button type="button" (click)="escolher()" class="btn btn-primary">
          Escolher para mim
      </button>
    </div>


  </div>
</div>














<!-- <div class="container my-3 border p-3">
  <form>
    <div class="form-group">
      <label for="nomeInput">Nome</label>
      <input type="text" class="form-control" id="nomeInput" placeholder="Digite um nome" #nomeInput>
    </div>
    <div class="d-grid gap-2 mt-1">
      <button (click)="adicionar(nomeInput)"type="button" class="btn btn-primary">
        Adicionar
      </button>
      <div [hidden]="esconderCaixa" class="alert alert-primary mt-3 p-3">
        {{nome}}
      </div>
    </div>
  </form>
</div> -->


<!-- <p>Lançando um dado: {{lancarDado()}}</p>
<p>Oi, meu nome é {{nome}} e tenho {{idade}} anos.</p>
2 + 2 = {{2 + 2}} -->